/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}

.container {
    width: 1220px;
    margin: 0 auto;
}
/* end reset */

/* hover */
.chua_login a:hover,
.da_login_admin a:hover,
.da_login_customer a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.info a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.search button:hover {
    cursor: pointer;
}

.nav-main:hover {
    opacity: 1;
}

.header .cart:hover a {
    color: rgba(255, 255, 255, 0.7);
}

.nav-main ul li:hover a {
    color: #FF711B;
}

.iphone a:hover img,
.suggestions a:hover img {
    transform: translate(0, -5px);
    transition: 0.2s;
}

.iphone a:hover h3,
.suggestions a:hover h3 {
    color: #288ad6;
    transition: 0.8;
}
/* end hover */

.header {
    /* position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 145px; */
    background-color: #FF711B;
}

/* head-main */
.connect {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.chua_login {
    display: block;
}

.chua_login a {
    padding: 4px;
    font-size: 0.8125rem;
}

.da_login_admin {
    display: block;
}

.da_login_admin a {
    padding: 4px;
    font-size: 0.8125rem;
}

.chua_login a,
.da_login_admin a,
.da_login_customer a {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
}

.da_login_admin:hover .info {
    display: block;

}

.da_login_admin .info {
    display: none;
    position: absolute;
    top: 35px;
    left: 55px;
    background-color: #FF711B;
    padding: 10px;
    color: #FFf;
    text-align: center;
    box-shadow: 0 3px 4px #333;
    z-index: 1000;
}

.da_login_admin .info ul {
    list-style: none;
}

.da_login_admin .info a {
    display: block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    font-size: unset;
}

/* login customer */
.da_login_customer {
    display: block;
}

.da_login_customer a {
    padding: 4px;
    font-size: 0.8125rem;
}

.da_login_customer:hover .info {
    display: block;
}

.da_login_customer .info {
    display: none;
    position: absolute;
    top: 35px;
    right: 65px;
    background-color: #FF711B;
    padding: 10px;
    color: #FFf;
    text-align: center;
    box-shadow: 0 3px 4px #333;
    z-index: 1000;
}

.da_login_customer .info ul {
    list-style: none;
}

.da_login_customer .info a {
    display: block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    font-size: unset;
}
/* end connect */

.header>.container>.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 10px;
}

.header .logo {
    width: 150px;
}

.search {
    display: flex;
    width: 840px;
    background-color: #fff;
    border-radius: 3px;
    padding: 3px;
    padding-right: 10px;
    align-items: center;
}

.search > input {
    height: 40px;
    width: 780px;
    padding: 8px 8px 8px 13px;
    outline: none;
    border: 0;
}

.search > button {
    height: 35px;
    padding: 0 20px;
    background-color: #FF711B;
    color: #fff;
    outline: none;
    border: 0;
    border-radius: 3px;
}

.header .cart {
    color: #fff;
    font-weight: 700;
    width: 140px;
    /* padding: 0 15px; */
    text-align: center;
}
/*end head-main*/


/* nav-main */
.nav-main {
    /* margin-top: 140px; */
    position: sticky;
    background-color: #fff;
    box-shadow: 0 3px 3px #ccc;
    opacity: 0.85;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    z-index: 100;
}

.unshadow {
    box-shadow: unset;
}

.nav-main ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px 0;
    align-items: center;
    margin-left: 4px;
}

.nav-main ul li {
    margin-right: 80px;
}

.nav-main ul li a {
    text-decoration: none;
    color: #000;
}

.list-footer li a,
.header .cart a {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
}

.menu a>div {
    padding-right: 5px;
}
/* end nav-main */

/* main */
.head {
    /* margin-top: 170px; */
    padding: 10px;
    border-left: 10px solid #FF711B;
    border-radius: 5px;
    margin: 20px 0;
    background-color: #fff
}

.head hr {
    margin: 5px 0 15px;
}

.product {
    width: 49%;
    float: left;
}

.product > img {
    width: 100%;
    height: auto;
}

.infomation {
    width: 49%;
    float: right;
    padding: 0 5px;
}

.infomation .color {
    display: flex;
    gap: 10px;
}

.infomation .color div {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 8px 20px;
}

.color a {
    text-decoration: none;
    color: #000;
}

.price {
    margin: 20px 0;
}

.price strong {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.detail-info {
    background-color: #fffee1;
    padding: 10px;
}

.detail-info ul {
    padding-left: 40px;
    padding-right: 10px;
    margin: 14px 0;
}

.quantity {
    font-weight: bold;
    margin: 20px 0;
}

.quantity input {
    width: 40px;
}

.buy button {
    display: block;
    text-transform: uppercase;
    border: 0;
    width: 100%;
    margin-bottom: 5px;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
}

.buy .buy-now {
    background-color: #FF711B;
}


.buy .installment {
    background-color: #568fcb;
}

.describe {
    padding: 40px 0;
    width: 50%;
}

.describe h2 {
    margin-bottom: 30px;
}

.describe p {
    font-size: 20px;
    line-height: 30px;
}

.describe h3 {
    margin: 30px 0 10px;
}

.feedback {
    width: 49%;
}

.cmt-wr {
    margin: 20px 0;
}

.cmt-wr h2 {
    margin: 10px 0 20px;
}

.cmt-wr textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.cmt-wr button {
    border: 0;
    background-color: #FF711B;
    color: #fff;
    padding: 8px 16px;
    border-radius: 3px;
}

.cmt-cus  {
    margin: 20px 0;
}

.customer-info {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.question {
    margin: 5px 0;
}

.action {
    display: flex;
    margin: 5px 0;
}

.action a {
    padding-right: 10px;
    text-decoration: none;
    color: #214ef0ec;

}

.action span::before {
    content: '-';
    margin-right: 10px;
}

.action span {
    color: #999;
}
/* end main */


/* footer */
.footer-main {
    background-color: #FF711B;
    padding: 20px;
}

.footer-main .footer-top .list-footer {
    padding: 0 50px;
}

.footer-main .footer-top .list-footer {
    justify-content: space-between;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.list-footer li a img {
    display: block;
    margin: 0 auto;
}

.list-footer li a span {
    display: block;
    margin: 0 auto;
    margin: 20px 0 0 0;
}

.footer-mid {
    padding: 20px 0;
}

.content > div {
    display: inline-block;
    width: 24%;
    vertical-align: top;
}

.content > div > h2 {
    padding: 10px 0;
}

.content > div > a {
    margin-bottom: 10px;
    font-size: 18px;
}

.content > div > a
 {
    align-items: center;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: #000;
}

.footer-bottom {
    height: 80px;
}

.footer-bottom .store {
    align-items: center;
}

.footer-bottom p {
    text-align: center;
    padding: 20px;
}
/* end footer */
