/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}

.container {
    width: 1220px;
    margin: 0 auto;
}
/* end reset */

/* hover */
.chua_login a:hover,
.da_login_admin a:hover,
.da_login_customer a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.info a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.search button:hover {
    cursor: pointer;
}

.nav-main:hover {
    opacity: 1;
}

.header .cart:hover a {
    color: rgba(255, 255, 255, 0.7);
}

.nav-main ul li:hover a {
    color: #FF711B;
}

.sp a:hover img {
    transform: translate(0, -5px);
    transition: 0.2s;
}

.sp a:hover {
    transition: 0.2s;
    color: #214ef0ec;
}

.iphone a:hover h3,
.suggestions a:hover h3 {
    color: #288ad6;
    transition: 0.8;
}
/* end hover */

.header {
    /* position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; */
    /* height: 145px; */
    background-color: #FF711B;
}

/* head-main */
.connect {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.chua_login {
    display: block;
}

.chua_login a {
    padding: 4px;
    font-size: 0.8125rem;
}

.da_login_admin {
    display: block;
}

.da_login_admin a {
    padding: 4px;
    font-size: 0.8125rem;
}

.chua_login a,
.da_login_admin a,
.da_login_customer a {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
}

.da_login_admin:hover .info {
    display: block;

}

.da_login_admin .info {
    display: none;
    position: absolute;
    top: 35px;
    left: 55px;
    background-color: #FF711B;
    padding: 10px;
    color: #FFf;
    text-align: center;
    box-shadow: 0 3px 4px #333;
    z-index: 1000;
}

.da_login_admin .info ul {
    list-style: none;
}

.da_login_admin .info a {
    display: block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    font-size: unset;
}

/* login customer */
.da_login_customer {
    display: block;
}

.da_login_customer a {
    padding: 4px;
    font-size: 0.8125rem;
}

.da_login_customer:hover .info {
    display: block;
}

.da_login_customer .info {
    display: none;
    position: absolute;
    top: 35px;
    right: 65px;
    background-color: #FF711B;
    padding: 10px;
    color: #FFf;
    text-align: center;
    box-shadow: 0 3px 4px #333;
    z-index: 1000;
}

.da_login_customer .info ul {
    list-style: none;
}

.da_login_customer .info a {
    display: block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    font-size: unset;
}
/* end connect */

.header>.container>.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 10px;
}

.header .logo {
    width: 150px;
}

.search {
    display: flex;
    width: 840px;
    background-color: #fff;
    border-radius: 3px;
    padding: 3px;
    padding-right: 10px;
    align-items: center;
}

.search > input {
    height: 40px;
    width: 780px;
    padding: 8px 8px 8px 13px;
    outline: none;
    border: 0;
}

.search > button {
    height: 35px;
    padding: 0 20px;
    background-color: #FF711B;
    color: #fff;
    outline: none;
    border: 0;
    border-radius: 3px;
}

.header .cart {
    color: #fff;
    font-weight: 700;
    width: 140px;
    /* padding: 0 15px; */
    text-align: center;
}
/*end head-main*/


/* nav-main */
.nav-main {
    /* margin-top: 140px; */
    position: sticky;
    background-color: #fff;
    box-shadow: 0 3px 3px #ccc;
    opacity: 0.85;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    z-index: 100;
}

.unshadow {
    box-shadow: unset;
}

.nav-main ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px 0;
    align-items: center;
    margin-left: 4px;
}

.nav-main ul li {
    margin-right: 80px;
}

.nav-main ul li a {
    text-decoration: none;
    color: #000;
}

.list-footer li a,
.header .cart a {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
}

.menu a>div {
    padding-right: 5px;
}
/* end nav-main */

/* banner */
.banner {
    background-color: #fff;
    margin-top: 20px;
    padding-top: 30px;
}

/* slider */
.slider__ {
    display: flex;
    gap: 20px;
}

.slider {
    float: left;
}

.slider__ .side-banner {
    display: grid;
}

.side-banner div {
    padding-bottom: 14px;
}
/* end slider */

/* end banner */

/* .all {
    text-align: center;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    padding: 15px 20px;
    background-color: #fff;
    width: 340px;
    margin: 0 auto;
    border-radius: 5px;
} */

/* content-main */

.content-main {
    margin: 40px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.row{
    float: left;
    width: 100%;
}

.clear{
    clear: both;
}

.mt {
    margin-top: 40px;
}

.mb {
    margin-bottom: 20px;
}
.mb10{
    margin-bottom: 10px;
}

.pt{
    padding-top: 20px;
}

.products {
    width: 100%;
}

.viewAll {
    margin: 45px 0;
    text-align: center;
}

.viewAll a {
    background-color: #FF711B;
    text-decoration: none;
    color: #fff;
    padding: 15px 50px;
    border-radius: 5px;
}

.products .viewAll {
    background-color: #FF711B;
}

.viewAll a {
    padding: 20px 50px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.category {
    width: 30%;
}

.boxtitle{
    color: white;
    background-color: #FF711B;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.boxcontent{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 200px;
}
.boxcontent2{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 200px;
}
.boxfooter{
    padding: 10px;
    background: #EEE;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ccc;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sp > a > img {
    margin-top: 20px;
    transition: 0.2s;
}

.sp a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.spcontent{
    padding-top: 15px;
}

.sp {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    border-radius: 5px;
}

.gia {
    color: red;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;

}

 /* menu dá»c*/
 .menudoc ul {
    padding-top: 10px;
    list-style: none;
 }
 .menudoc ul li{
    background-color: white;
    border: 1px solid #ccc; 
 }
 .menudoc ul li:hover{
    background-color: #FF711B;
 }

 .menudoc ul li:hover a{
    color: white;
 }
 .menudoc ul li a{
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
 }
 .searbox input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }

 .top10 img{
    width: 20%;
    height: 50px;
    float: left;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;

 }

 .top10 a{
    text-decoration: none;
    color: #111;
 }

 .top10 a:hover{
    color: #FF711B;
 }

 .bg-w{
    background-color: white;
 }
/* end content-main */

/* footer */
.footer-main {
    background-color: #FF711B;
    padding: 20px;
}

.footer-main .footer-top .list-footer {
    padding: 0 50px;
}

.list-footer li a img {
    display: block;
    margin: 0 auto;
}

.list-footer li a span {
    display: block;
    margin: 0 auto;
    margin: 20px 0 0 0;
}

.footer-main .footer-top .list-footer {
    justify-content: space-between;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.footer-mid {
    padding: 20px 0;
}

.content > div {
    display: inline-block;
    width: 24%;
    vertical-align: top;
}

.content > div > a {
    align-items: center;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: #000;
}

.content > div > h2 {
    padding: 10px 0;
}

.content > div > a {
    margin-bottom: 10px;
    font-size: 18px;
}


.footer-bottom {
    height: 80px;
}

.footer-bottom .store {
    align-items: center;
}

.footer-bottom p {
    text-align: center;
    padding: 20px;
}
/* end footer */
